.proyectsContainer {
  display: flex;
  justify-content: space-evenly;
}

/* .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 60px 80px -6px rgb(141, 76, 76);
}

.cardTitle {
  display: block;
  text-align: center;
  font-family: "Lexend", sans-serif;
  color: rgb(184, 183, 183);
  background-color: rgb(167, 4, 4);
  padding: 2%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.cardDesc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 15%;
  opacity: 0;
  padding: 10px 5%;
  color: rgb(184, 183, 183);
  text-align: center;
  background-color: rgb(0, 0, 0);
  overflow-y: scroll;
  transition: 0.3s linear;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.card:hover .cardDesc {
  opacity: 1;
  height: 100%;
}

.buttonContainer{
    display:flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 60px;
    margin-left: 60px;    
}

.button{
    font-family: "Lexend", sans-serif;
    font-weight: 1000;
    color: rgb(184, 183, 183);
    background-color: rgb(167, 4, 4);
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 4px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.button:hover {
    background-color: #000000;
    color: white;
}  */


.cardOmdb {
  border-radius: 16px;
  position: relative;
  margin: 40px;
  width: 500px;
  max-width: 250px;
  min-height: 500px;
  /* box-shadow: 10px 60px 100px -60px rgb(141, 76, 76); */
  overflow: hidden;
  background-image: url(https://i.postimg.cc/141nr0Gw/samuel-regan-asante-w-Mka-MXTJjl-Q-unsplash.jpg);
  background-size: cover;
}
.cardEcommerce {
  border-radius: 16px;
  position: relative;
  margin: 40px;
  width: 500px;
  max-width: 250px;
  min-height: 500px;
  /* box-shadow: 10px 60px 100px -60px rgb(141, 76, 76); */
  overflow: hidden;
  background-image: url(https://i.postimg.cc/3JknS3gw/cardmapr-nl-h-TUZW7-E7krg-unsplash.jpg);
  background-size: cover;
}

.cardEstacionar {
  border-radius: 16px;
  position: relative;
  margin: 40px;
  width: 500px;
  max-width: 250px;
  min-height: 500px;
  /* box-shadow: 10px 60px 100px -60px rgb(141, 76, 76); */
  overflow: hidden;
  background-image: url(https://i.postimg.cc/NFq1f2NJ/anne-nygard-Fw-RTLAj-Te-E0-unsplash.jpg);
  background-size: cover;
}

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.699);
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(15px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.cardEstacionar:hover .info,
.cardEstacionar:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.cardEcommerce:hover .info,
.cardEcommerce:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.cardOmdb:hover .info,
.cardOmdb:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.title {
  margin: 0;
  padding: 24px;
  font-size: 33px;
  text-align: center;
  line-height: 1.4;
  color: rgb(184, 183, 183);
}

.description {
  margin: 0;
  color: rgb(184, 183, 183);
  padding: 0 24px 24px;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: "Lexend", sans-serif;
  color: #1c5b72;
  font-size: 2.618em;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4.236em;
    font-weight: 300;
  }
}

p {
  margin-bottom: 1.3em;
  line-height: 1.618;
}

@media (min-width: 800px) {
  p {
    font-size: 1.3em;
  }
}

.butonRepo{
  color: #e03616;
  text-decoration: none;
  padding: 45px;
}

.button {
  font-family: "Lexend", sans-serif;
  font-weight: 1000;
  color: rgb(184, 183, 183);
  background-color: rgb(167, 4, 4);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 4px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
.button:hover {
  background-color: #000000;
  color: white;
}
